

* {
    --text: #232222;
    --background: #fffaeb;
    --primary: #0a3d58;
    --secondary: #c5d5d8;
    --accent: #2f6312;
    font-family: 'Young Serif';
    background-color: var(--background);
}



.buttonElements {
    list-style: none;
}

.mainPage {
    /* padding-top: 15%;
    text-align: center; */
    list-style: none;
}

.mainPageElements {
    padding-bottom: 10px;
}

textarea {
    resize: none;
}

.questionAsked {
    font-size: 2rem;
}

.logInBtn {
    color: var(--primary);
    background-color: var(--background);
    border: none;
    float: right;
    padding: 5px;
}

.logInBtn:hover {
    border-bottom: 2px solid;
    border-color: #0a3d5886;
    
}

.logOutBtn {
    display: none;
    color: var(--primary);
    background-color: var(--background);
    border: none;
    float: right;
    padding: 5px;
}

.loggedInUsername {
    display: none;
    color: var(--primary);
    background-color: var(--background);
    border: none;
    float: right;
    padding: 5px;
}


.samePage {
    color:#1b1a19;
}

.popUpLogIn {
    display: none;
    position: fixed;
    background-color: var(--background);
    margin: 15% auto; 
    padding: 20px;
    border: 1px dotted #888;
    width: 50%; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logInElements {
    padding: 20px;
    max-width: 80%;
    text-align: center;
    position: relative;
}

.close {
    align-items: center;
    top: 0;
    cursor: pointer;
}

.ideaForm {
    margin-left: auto;
    margin-right: auto;
}



/* @media screen and (min-width: 768px){
    nav a {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.75rem; 
    }
} */

